body {
background: #f0e1f0;
font-family: Arial, Helvetica, sans-serif;
}


.about {
    text-align: center;
    margin-bottom: 20px;
}

.skills{
  text-align: center;
  margin-bottom: 20px;
}

.projShit{
  text-align: center;
  margin-bottom: 20px;
}

.affShit{
  text-align: center;
  margin-bottom: 20px;
}

.chartShit{
  text-align: center;
  margin-bottom: 20px;
}

h1 {
color: black;
text-align: center;
}


.project {
  text-align: center;
  width: 100px;
}

.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */