* { box-sizing: border-box; margin: 0; padding: 0; }
html,body { height: 100%; }

body {
background: #f0e7f0;
font-family: Arial, Helvetica, sans-serif;
padding: 28px 16px;
display: flex;
flex-direction: column;
align-items: center;
color: #111;
}

h1 {
  font-size: 34px;
}

.about {
    text-align: center;
    margin-bottom: 20px;
}

/* Chatgpt made this portion right here, but this is the only portion it helped me with*/
img {
    width: 500px;   
    height: auto;  
}
/* ^Chatgpt made this portion right here, but this is the only portion it helped me with^*/

.skills .about .proj .aff .chart .pastProjects{
  text-align: center;
  background: #000000;
  border: 5px solid #ddd;
  border-radius: 10px;
  padding: 18px;
  margin-bottom: 20px;
}

h1 {
color: black;
text-align: center;
}
