body {
background: #f0e1f0;
font-family: Arial, Helvetica, sans-serif;
}


.about {
    text-align: center;
    margin-bottom: 20px;
}

/* Chatgpt made this portion right here, but this is the only portion it helped me with*/
img {
    width: 300px;   
    height: auto;  
}
/* ^Chatgpt made this portion right here, but this is the only portion it helped me with^*/

.skills{
  text-align: center;
  margin-bottom: 20px;
}

.proj{
  text-align: center;
  margin-bottom: 20px;
}

.aff{
  text-align: center;
  margin-bottom: 20px;
}

.chart{
  text-align: center;
  margin-bottom: 20px;
}

h1 {
color: black;
text-align: center;
}