body {
background: #f0e1f0;
font-family: Arial, Helvetica, sans-serif;
}


.about {
    text-align: center;
    margin-bottom: 20px;
    hr {
  width: 10px;
  }
}

h1 {
color: black;
text-align: center;
}

.project {
  text-align: center;
  width: 100px;
}

.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */

.project {
width: 100%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}