body {
    font-family: Arial, sans-serif;
    margin: 40px;
    color: #333;
    background-color: #f9f9f9;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    color: #2c3e50;
}

.fml {
    font-family: Arial, sans-serif;
    margin: 50px;
    color:#333;
    background-color: #f9f9f9;
}

.skill {
    font-family: Arial, sans-serif;
    margin: 50px;
    color:#333;
    background-color: #f9f9f9;
}